<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css">
  </head>

  <body>
    <%- include('./partials/_header'); %>

    <main style ="margin: 1em;">
      <H1>Create Account</H1>
      <div>
        <form action="/user_registration" method="POST">

      <div class="form-label-group">
          <label for="email">Email Address:</label>
          <input type="email" name="email" type="text" placeholder="Enter email" style="width: 150px; margin: 1em">
      </div>
      <div>

      <div class="form-label-group">
        <label for="password">Password:</label>
        <input type="password" name="password" type="text" placeholder="Password" style="width: 150px; margin: 1em">
       </div>
       <div>
          <button type="submit" class="btn btn-md btn-primary text-uppercase">Register</button>
       </div>
      </form>
  </main>

  </body>
</html>
